* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.navbar-brand img {
width: 100px;}

.nav-link {font-family: 'DejaVu Sans Mono', monospace;
font-weight: 800;
color: beige;
text-decoration: underline red;
text-decoration-thickness: 2px;
text-underline-offset: 6px;}


.content{width: 60%;
margin: 100px auto 0;
flex: 1 0 auto;}


.footer{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
border-radius: 10px;
font-size: 15px;
padding: 20px;
font-family: 'DejaVu Sans Mono', monospace;
color: beige;
}

.page-wrapper {

            background: url('/static/image/service_files/login_image.jpg') no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            flex-direction: column;

            padding-top: 60px;
            padding-left: 50px;
            padding-right: 50px;
        }

.content-container {
            flex: 1;
            background-color: rgba(250,238,221, 0.95);
            border-radius: 10px;
            padding: 30px;
            margin-bottom: 20px;
            min-height: calc(100vh - 40px);
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
            backdrop-filter: blur(5px);
            border: 1px solid rgba(255,255,255,0.2);
        }

.last-edit-info {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
  }

.article-title {
    margin-bottom: 1.5rem;
        padding-left: 0.6em;
    color: #212529;
  }

.article-content {
    text-align: left;
    margin-top: 3rem;
    padding-left: 1.5em;
    text-indent: 1.5em;
}


.dropdown {
    position: relative;
}


.navbar {
    position: relative;
    z-index: 1000;
}

.dropdown-menu {
    position: absolute;
    z-index: 1001;
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-toggle {
    cursor: pointer;
}

/* Fix caret */
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.btn-primary {
            background-color: #ff033e;
            border: none;
            color: beige;
            padding: 10px;
        }

.btn-primary:hover {
            color: #faeedd;
            background-color: #e32636;
        }
.form-control:focus {
            border-color: #9a0808;
            box-shadow: 0 0 0 0.25rem rgba(237, 25, 25, 0.25);
        }

