{% extends 'base.html' %}

{% block content %}
<main>
<div class="container-fluid">
<h1>Приветственный текст этой вики по HFIM</h1>
    Полезные ссылки:
    <ul class="checkmark">
        <li><a href="https://store.steampowered.com/app/1854430/How_Fish_Is_Made/">Игра в стиме</a></li>
        <li><a href="#">X Wrong Organ</a></li>
    </ul>
    Основные категории:
        <ul class="checkmark">
        <li><a href="/categories/characters">Персонажи</a></li>
        <li><a href="/categories/locations">Локации</a></li>
        <li><a href="/categories/lore">Лор</a></li>
        <li><a href="/categories/dlc">Контент DLC</a></li>
    </ul>
        Статистика Вики:
        <ul class="checkmark">
        <li>Кол-во страниц: N</li>
        <li>Кол-во пользователей: N</li>
        <li>Кол-во медиафайлов: N</li>
    </ul>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    РЫБА НАУЧИТ<br>
    <br>

</div>
</main>
{% endblock content %}